body {
	/*background-color: #b2b2ff;*/
	font-family: 'Raleway', sans-serif;
}

.title {
	text-align: center;
	font-size: 36px;
	font-family: 'Pacifico', cursive;
	/*font-family: 'VT323';*/
	/*font-family: 'Special Elite', cursive;*/
	margin: 0px auto 20px;
	width: 50%;
}

form {
	margin: 0 auto;
	width: 40%;
	font-size: 18;
}

#submitText {
	display: inline;
}

.form_container {
	margin: 20px auto;
	width: 100%;
}

.data_container {
	margin: 0 auto 100px;
	width: 80%;
	height: 330px;
	padding: 20px;
	background-color: #fff;
}

#myChart {
	display: block;
	margin: 0 auto;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.chart_container{
	float: left;
	margin: 0 auto;
	width: 60%;
}

.user {
	font-size: 32px;
	margin: 0 0 10px;
}

.languages_container {
	margin: 10px 0;
	width: 40%;
	float: right;
	font-size: 20px;
}

.num_hover {
	display: none;
	margin-left: 10px;
	font-size: 14px;
	width: 35%;
	background: rgba(211,211,211,0.6);
	padding: 3px;
	border-radius: 5%;
	text-align: center;
}

.coding_language:hover > .num_hover {
	display: initial;
}

.share_container {
	width: 20%;
	float: left;
	font-size: 24px;
	margin: 20px 0;
}

.share_container a,
.share_container a:visited {
	text-decoration: none;
	color: black;
}

.share_container a:hover,
.share_container a:active {
	text-decoration: none;
	color: #9CDAEF;
}

.icon_container {
	width: 60%;
	margin: 0 auto;
}

.followers_title {
	text-decoration: underline;
}

.followers_container {
	text-align: center;
	margin: 20px auto 40px;
	width: 50%;
	font-size: 30px;
	font-family: 'Pacifico', cursive;
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;


}

.follower_name {
	margin: 10px 0;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}

.follower_name a,
.follower_name a:visited {
	text-decoration: none;
	color: black;
}

.follower_name a:hover,
.follower_name a:active {
	text-decoration: none;
	color: #9CDAEF;
}

.pusheen {
	margin: 15px auto;
	display: block;
}

/* Login Page css */

.home_wrapper {
	min-height: 500px;
	width: 90%;
	margin: 40px auto 0;
}

.home_about {
	width: 30%;
	float: left;
	margin: 30px 0 0;
	padding: 20px;
}

.about_title {
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0;
}

.about_item {
	padding: 0px 0px 10px 10px;
}

.get_yours_button {
	text-align: center;
	padding: 25px 0px;
	background-color: #9CDAEF;
	width: 50%;
	margin: 0 auto;
}

.home_chart_container {
	width: 40%;
	float: left;
	margin: 20px 0 0;
}

#homeChart {
	display: block;
	margin: 0 auto;

}

.home_languages_container {
	width: 20%;
	float: left;
	font-size: 24px;
	margin: 40px 0 0 40px;
}

.home_wrapper .languages_container {
	width: 30%;
	height: 100%;
	float: left;
}


.git_login_button {
	width: 45%;
	text-align: center;
	padding: 25px 0px;
	background-color: #9CDAEF;
	float: left;	
	margin: 100px 0 0;
	text-transform: uppercase;
}

.login_container a,
.login_container a:visited,
.login_container a:hover,
.login_container a:active,
.home_about a,
.home_about a:visited,
.home_about a:hover,
.home_about a:active {
	text-decoration: none;
	color: black;
}

.login_container {
	width: 50%;
	margin: 100px auto 0px;
	min-height: 350px;
}

.login_image {
	width: 50%;
	float: right;
}

.octocat {
	width: 300px;
}

hr {
	margin: 20px auto;
}

footer {
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 5%;
	padding: 5px;
}

.full_wrapper {
	min-height: 95%;
}

.full_wrapper:after {
	content: "";
	display: block;
}

