<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/github_viz.css">
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->
    <link href='http://fonts.googleapis.com/css?family=Pacifico|Raleway' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Special+Elite|VT323' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/static/Chart.js"></script>
    <script src="/static/github_viz.js"></script>
    <title>Github Language Visualization</title>
    <meta name=”description” content=”Github language visualization by Becca Bruggman”>
  </head>
  <body>
    <div class="full_wrapper">
      <p class="title"> Github Language Visualization</p>
      <hr />
      <div class="home_wrapper">

        <div class='home_about'>
          <div  class='about_title'> What languages are you using? </div>
          <ul>
            <li class='about_item'> Get a visualization from all your repos on Github </li>
            <li class='about_item'> Easy to add to a portfolio or share </li>
            <li class='about_item'> See what languages your followers use </li>
          </ul>
          <a  name="login" href="https://github.com/login/oauth/authorize?scope=user:email&client_id={{id}}">
            <div class="get_yours_button">
            Login with Github
            </div>
          </a>
        </div>
        <div class="home_chart_container">
          <canvas id="homeChart" width="400" height="400"></canvas>
        </div>
        <div class='home_languages_container'>
        </div>
      </div>
    <footer>
      <span> Made with <i class="fa fa-heart-o"></i>  by Becca Bruggman </span>
    </footer>

    <script type="text/javascript">
    var count = 2;
    var ctx = $("#homeChart").get(0).getContext("2d");
    var myPieChart = new Chart(ctx).Pie(home_data[count],options);
    
    for (item in home_data[count]) {
      $(".home_languages_container").append('<div class="coding_language" style="color:' + home_data[count][item].color + '">' + home_data[count][item].label +  ' : ' + home_data[count][item].value + '.0%</div>')
    }

    setResetInterval(true);

    $("#homeChart").on('mouseenter',function(e){
      console.log('herro')
      e.preventDefault();
      setResetInterval(false);
    });
    $("#homeChart").on('mouseleave',function(e){
      console.log('jah!')
      e.preventDefault();
      setResetInterval(true);
    });

    </script>
  </body>
</html>
